/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/0/e/0/432905.jpg#.XR5vgFVPLZw.link');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
/*http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg*/
.container{
height: 70%;
align-content: center;
}



/* ----------- TELA DE Login  --------------------- */ 
.card{
height: 350px;
margin-top: auto;
margin-bottom: auto;
width: 450px;
background-color: rgba(0,0,0,0.5) !important;
}

body {
    width: 200px;
    margin: 50px auto;
  }
  p {margin: 20px}
  
  select.basic {
    width: 200px;
    height: 35px;
  }
  select.simple {
    background: #f5f5f5;
    border: 0;
  }


.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}



.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

/* ----------- TELA DE CADASTRAR USUARIO --------------------- */ 


.cadastrar_btn{
    color: black;
    background-color: #FFC312;
    width: 180px;
    }

    .card_cadastro{
        height: 520px;
        margin-top: auto;
        margin-bottom: auto;
        width: 450px;
        background-color: rgba(0,0,0,0.5) !important;
        }


/* ----------- TELA DE Esqueci minha senha --------------------- */ 


.esqueci_btn{
    color: black;
    background-color: #FFC312;
    width: 200px;
    }

    .card_esqueci{
        height: 200px;
        margin-top: auto;
        margin-bottom: auto;
        width: 450px;
        background-color: rgba(0,0,0,0.5) !important;
        }        